// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//colors
$color_lima_approx: #5900ff;

#container {
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 25px;
	border: 2px solid $color_lima_approx;
	padding: 20px;
	width: 70%;
	height: 100px;
  margin-bottom: 10px;
	display: flex;
	margin: 25px;
	align-self: center;
}

.ellipsis {
	float: right;
}

.jobs {
  display: flex;
  width: 100%;
	flex-direction: column;
	margin: 0px auto;
	justify-content: center;
	margin-bottom: 60px;
	position: relative;
}

.job_commands {
  display: none;
}

.job_specs {
	display: flex;
	flex-direction: row;
}

p {
	margin-right: 100px;
}

a {
  text-decoration: none;
}

a:hover {
	position: relative;
	top: 1px;
}

a:active {
	position: relative;
	top: 2px;
}
